#myCarousel {
    min-width: 90vw;
    min-height: 100vh;
}

.carte{
    max-width: 50vw;
    max-height: 50vh;
}

.carte-container{
    min-width: 90vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel-inner {
    min-height: 90vh;
}


.carousel-item.active {
    min-height: 90vh;
    min-width: 90vw; 
}

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    min-width: 90vw;
}






.carousel-indicators button {
    background-color: silver;
}

.carousel-indicators .active {
    background-color: #6C63FF !important;
}


.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='6C63FF' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill=' 6C63FF' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}




