<div class="d-flex flex-row-reverse">
<nav class="navbar bg-ligh">
        <form class="d-flex flex-row mt-5" role="search">
          <input class="form-control" type="search" placeholder="Chercher un projet" aria-label="Search">
          <button class="btn btn-outline-primary ms-3" type="submit">Search</button>
        </form>
  </nav>
</div>

<table id="main" class="table table-responsive table-hover mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Project</th>
        <th scope="col">Description</th>
        <th scope="col">Type</th>
        <th scope="col">User</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects; let currentIndex = index">
        <th scope="row">{{currentIndex}}</th>
        <td>{{project.name}}</td>
        <td>{{project.description}}</td>
        <td><span> {{project.projectType === 0 ? 'PRIVATE': 'PROFESSIONNAL'}}</span></td>
        <td>{{project.refUser}}</td>
      </tr>
    </tbody>
  </table>
  