:host {
   width: 100%;
   padding-left: 50px;
   padding-right: 50px;
}

#main {
   min-width: 90%;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
   background-color: rgba(108, 99, 255, .2)
 }
