.card-elevation img {
    height: 30%;
    width: 30%;
}

.card-elevation {
    transform: scale(0.95);


    max-width: 50%;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(108, 99, 255, 0.7) 0px 2px 8px 0px;
    border-radius: 30px;
    margin: auto;
}

h1{
    font-weight: bold;
    font-size: medium;
    text-decoration: underline;
}

p {
    font-style: italic;
}

.card-elevation:hover{
    transform: scale(1.00);
    box-shadow: rgba(108, 99, 255, 0.7) 0px 2px 8px 4px;

}
.card {
    -webkit-filter: blur(13px);
    -moz-filter: blur(13px);
    -o-filter: blur(13px);
    -ms-filter: blur(13px);
    filter: blur(13px);
}