<div class="d-flex justify-content-center">
<div class="card border border-primary pt-2" style="width: 18rem;">
    <img src="../../../assets/man.png" class="card-img-top mx-auto" alt="random user profile pic">
    <div class="card-body">
      <h5 class="card-title text-center">Card title</h5>
      <p class="card-text text-center">A short biography.</p>
      <div class="row justify-content-center">
      <a href="#" class="btn btn-primary text-center pr-4 pl-4">Go to Projects</a>
    </div>
    </div>
  </div>
  </div>