.mainContainer {
    padding: auto;
    margin: auto;
    min-width:90%;
    min-height: 90%;
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url(../assets/time.svg);
    background-position: center;
    background-repeat: no-repeat;
}

@media  screen and (max-width: 864px) {
    .mainContainer{
        background-size: 60%;
    }
}



