<form [formGroup]="type === 'PROJECT' ? projectForm : taskForm" id="main" class="d-flex flex-column align-items-center justify-content-center" role="form" (submit)="type === 'PROJECT' ? onSubmitNewProject():onSubmitNewTask() ">
    <div class="formContainer" >
        <div *ngIf="type === 'PROJECT'" class="d-flex flex-row justify-content-center align-items-center h1 text-light bg-primary my-3 py-3 w-100 ">New Project</div>
        <div *ngIf="type === 'TASK'" class="d-flex flex-row justify-content-center align-items-center h1 text-light bg-primary my-3 py-3 w-100 ">New Task</div>
        <div >
            <label for="exampleFormControlInput1" class="form-label h2 text-secondary">Title</label>
            <input formControlName="name"   class="form-control" id="exampleFormControlInput1" placeholder="Title" required>
        </div>
        <div class="mt-4">
            <label for="exampleFormControlTextarea1" class="form-label h3 text-secondary">Description</label>
            <textarea   formControlName="description" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Write a description..." required></textarea>
        </div>
        <div *ngIf="type === 'PROJECT'" class="mt-5">
            <select   formControlName="projectType" class="form-select bg-white text-secondary" aria-label="Type" required>
                <option selected>Project Type</option>
                <option value="0">PRIVATE</option>
                <option value="1">PROFESSIONNAL</option>
            </select>
        </div>
        <div *ngIf="type === 'TASK'" class="mt-4">
            <div >
                <label for="exampleFormControlInput1" class="form-label h2 text-secondary">Duration</label>
                <input class="form-control" id="exampleFormControlInput1" placeholder="Duration">
            </div>
            <div class="mt-4" >
                <label for="exampleFormControlInput1" class="form-label h2 text-secondary">Difficulty</label>
                <input class="form-control" id="exampleFormControlInput1" placeholder="Difficulty">
            </div>
            <div class="mt-4">
                <label for="exampleFormControlInput1" class="form-label h2 text-secondary">Estimated Time</label>
                <input class="form-control" id="exampleFormControlInput1" placeholder="Estimated Time">
            </div>
            <div class="mt-4">
                <label for="exampleFormControlInput1" class="form-label h2 text-secondary">Select the project</label>
                <select class="form-select bg-white text-secondary" aria-label="Project" required>
                    <option selected>Projects</option>
                    <option value="0">PRIVATE</option>
                    <option value="1">PROFESSIONNAL</option>
                </select>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end mt-5">
        <button  type="submit" class="btn btn-outline-primary">CREATE</button>
    </div>
</form>
